<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title><%=title%></title>
</head>

<body>
  <%- include("partials/header.ejs") %>
  <h1><%=title%></h1>
  <p>Pick which genre to view!</p>

  <div class="genrelist">
    <% locals.genres.forEach((genre) => { %>
    <li><a href="/record/<%=genre.id%>"><%=genre.genre_name%></a></li>
    <% }) %>
  </div>

  <li><a href="/record/all">All records</a></li>

  <p></p>

  <a href="/record/new">Add new record</a>
  <a href="/genre">Genre settings</a>
  
</body>

</html>