<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Success</title>
</head>

<body>
  <%- include("partials/header.ejs") %>
  <div class="mainContent successPage viewPage">
    <div class="recordDivs">
      <img src="<%=locals.imgurl%>" alt="Cover" onerror="this.onerror=null;this.src='/assets/fallbackimg.jpeg';" width="400" height="400" />
      <div class="recordDetails">
        <p><b><%=locals.record_name%></b></p>
        <p>By: <%=locals.artist%></p>
        <p>Year: <%=locals.year%></p>
        <p>Genre: <%=locals.genres%></p>
        <div class="buttonContainer">
          <form action="/record/editForm/<%=locals.id%>" class="recordEditDiv" method="POST">
            <button class="recordEditButton">EDIT</button>
          </form>
          <form action="/record/delete/<%=locals.id%>" method="POST" class="recordDeleteForm">
            <input type="hidden" name="prevPage" value="<%= prevPage %>">
            <p>Are you sure?</p>
            <button type="submit" class="confirmDeleteButton">YES</button>
            <button type="button" class="cancelDeleteButton">NO</button>
          </form>
          <button class="recordDeleteButton">DELETE</button>
        </div>
      </div>
    </div>

    <div class="returnLink">
      <a href="/">Return Home</a>
      <a href="/record/new">Add New Record</a>
      <a href="/genre">Manage Genre</a>
    </div>
  </div>
  <script>
    const recordDivs = document.querySelectorAll(".recordDivs");
    recordDivs.forEach((div, index) => {
      const delForm = div.querySelector(".recordDeleteForm");
      const delBtn = div.querySelector(".recordDeleteButton");
      const cancelBtn = div.querySelector(".cancelDeleteButton");
      const editForm = div.querySelector(".recordEditDiv");
      delBtn.addEventListener("click", (e) => {
        delForm.classList.toggle("show");
        delBtn.classList.toggle("hide");
        editForm.classList.toggle("hide");
      });
      cancelBtn.addEventListener("click", (e) => {
        delForm.classList.toggle("show");
        delBtn.classList.toggle("hide");
        editForm.classList.toggle("hide");
      })
    })
  </script>
</body>

</html>